
.icon-users:before { content: '\e802'; } /* '' */
.icon-folder-open-1:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\e80b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */